body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#playPauseBtn {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#volumeControl {
    width: 100px;
}